@mixin border-table($color: #fff, $type: rowspan) {
	td {
		background: linear-gradient(to right, $color, $color) no-repeat right center / 1px 100%, linear-gradient(to right, $color, $color) no-repeat center bottom / 100% 1px;
	}
	td[#{$type}] {
		background: linear-gradient(to right, $color, $color) no-repeat right center / 1px 100%, linear-gradient(to right, $color, $color) no-repeat left center / 1px 100%, linear-gradient(to right, $color, $color) no-repeat center bottom / 100% 1px;
	}
}

@mixin border-linear($color, $bg: #393b3a, $border: 1px) {
	position: relative;
	border: $border solid transparent;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -2;
		border-radius: inherit;
		background: $color;
		box-sizing: border-box;
		// margin: -$border; /* !importanté */
	}
	&::after {
		position: absolute;
		content: '';
		left: $border;
		top: $border;
		bottom: $border;
		right: $border;
		background: $bg;
		border-radius: inherit;
		z-index: -1;
		box-sizing: border-box;
	}
}

@mixin borderLinear($border-color: linear-gradient(to top, #7f4c01, transparent), $bg-color: linear-gradient(to right, #262626, #262626), $raiuds: 16px, $width: 1px) {
	border-width: $width;
	border: solid transparent;
	border-radius: $raiuds;
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: $bg-color, $border-color;
}

@mixin emptyDialog() {
	padding: 0;
	background-color: transparent;
	overflow: visible;
}
