/*-------------------------------------
├   字体                              ┆
└------------------------------------*/
$mc: #f7bd00;
@mixin normal-font() {
	font-weight: normal;
	font-style: normal;
}

@mixin fz($size, $color: #333, $weight: normal) {
	font-size: $size;
	font-weight: $weight;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: $color;
	font-family: 'Roboto', sans-serif;
}

@mixin fzb($size, $color: linear-gradient(136.4deg, #ffb800 5.63%, #ffdf8c 54.78%, #ffbd15 108.2%), $weight: normal) {
	background: $color;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: $size;
	font-weight: $weight;
	text-align: center;
}

@mixin fs($size, $weight: 300) {
	@include fz($size, $color-primary-text, $weight);
}

@mixin assist-font($size: 20px, $color: #b0b0b0) {
	font-size: $size;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: -0.48px;
	color: $color;
}

@mixin ellipsis() {
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@mixin ellipsis($n: 3) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $n;
	word-break: break-all;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}
